#section_166_widget_317 h1{
color:#00a0a3;
}
#section_166_15{
background-color:#bce6ad !important;
}
#section_166_widget_326{
background-color:transparent ;
padding-top:40px !important;
padding-bottom:40px !important;
}
#section_166_widget_326 h3{
color:#04a46f;
}
#section_166_widget_327{
background-color:transparent ;
padding-top:30px !important;
padding-bottom:30px !important;
}
#section_166_widget_327 a{
color:#ffffff !important;
background-color:#02a222 !important;
font-size:22px !important;
padding-top:10px !important;
padding-right:15px !important;
padding-bottom:10px !important;
padding-left:15px !important;
border-radius:5px !important;
}
#section_166_widget_327 a:hover {
color:#ffffff !important;
background-color:#008bad !important;
}
#section_169_15{
background-color:transparent ;
padding-top:50px !important;
}
#section_166_widget_325{
background-color:#546de8 !important;
}
#section_169_widget_347{
background-color:transparent ;
}
#section_169_widget_347 a{
color:#00ff04 !important;
}
#section_169_widget_347 a:hover{
color:#4b05cc !important;
}
#section_166_widget_335{
margin-top:30px !important;
background-color:transparent ;
}
#section_166_widget_335 .blog-card-title a{
color:#00e1ff !important;
}
#section_166_widget_335 .blog-card-title a:hover{
color:#ffea00 !important;
}
#section_166_widget_335 .btn-underline{
color:#bb00ff !important;
}
#section_166_widget_335 .btn-underline:hover{
color:#00059e !important;
}
#section_172_widget_349 .countdown ul li{
color:#003beb !important;
}
#section_172_widget_348{
background-color:transparent ;
}
#section_172_widget_352{
background-color:transparent ;
}
#section_172_widget_355{
background-color:transparent ;
}
#section_172_15{
background-color:transparent ;
}
#section_172_widget_360{
background-color:transparent ;
}
#section_172_widget_361{
background-color:transparent ;
}
#section_172_widget_358{
background-image:url('http:\/\/tlcommerce.local\/public\/storage\/all_files\/2023\/Feb\/video-bg.png');
background-size:cover !important;
background-position:center !important;
background-repeat:no-repeat !important;
padding-top:40px !important;
background-color:transparent ;
}
#section_172_widget_358 .cta-content h2{
color:#ffffff !important;
}
#section_172_widget_358 .cta-content span{
color:#ffffff !important;
}
#section_172_widget_358 .cta-content p{
color:#ffffff !important;
}
#section_172_widget_358 .video-card .btn_play{
color:#0aff60 !important;
border-color:#98c200 !important;
}
#section_172_widget_358 .cta-content a{
color:#001eff !important;
}
#section_172_widget_358 .cta-content a:hover{
color:#009491 !important;
}
#section_172_widget_350{
background-color:transparent ;
}
#section_172_widget_353{
background-color:transparent ;
}
#section_172_widget_370{
background-color:transparent ;
}
#section_172_widget_371{
background-color:transparent ;
}