#section_235_18{
background-color:#4e2ea9 !important;
padding-top:140px !important;
}
#section_235_widget_451{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:40px !important;
padding-left:0px !important;
background-color:transparent ;
}
#section_234_widget_450{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:0px !important;
padding-left:0px !important;
background-color:transparent ;
}
#section_234_18{
padding-top:100px !important;
padding-bottom:40px !important;
background-color:transparent ;
}